@use "../../styles/variables";
@use "../../styles/mixins";

.taskList {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;

    @include mixins.respond(phone) {
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    span {
      font-size: 1.6rem;
      word-wrap: break-word;
      max-width: calc(100% - 15rem);
      margin-bottom: 0.5rem;

      &.completed {
        text-decoration: line-through;
        color: gray;
      }

      @include mixins.respond(phone) {
        max-width: calc(100% - 2rem);
      }
    }

    div {
      display: flex;
      gap: 1rem;
    }

    button {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;

      &:first-of-type {
        background-color: variables.$primary-color;
        color: white;
      }

      &:last-of-type {
        background-color: red;
        color: white;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  ul {
    width: 100%;
  }
}
